<ul class="collection">
  <li class="collection-item avatar" *ngFor="let school of schools">
    <img src="../images/{{school.image}}.png" [alt]="school.name" class="circle">
    <span class="title">{{school.name}}</span>
    <p>
      {{school.location}}
      <br>
      <span class="tag">{{school.types}} </span>
      <br>
      <span class="tag">{{school.years}}</span>
    </p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </li>
</ul>