.collection .collection-item.avatar {
  padding-left: 9rem;
}
.collection .collection-item.avatar .circle {
    position: absolute;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    left: 0.1rem;
    display: inline-block;
    vertical-align: middle;
}
.circle {
  border-radius: 50%;
}
.collection .collection-item.avatar .title {
  font-size: 1.8rem;
}
.tag {
  font-size: 0.8rem;
  color: white;
  border-radius: 5px;
  background-color: #673AB7;
  padding-left: 5px;
  padding-right: 5px;
}